@page "/assets"
@using Client.Layout
@using Shared.Dtos
@layout MainLayout
@inject HttpClient APIClient

<div class="container-fluid d-flex flex-column">

    @* Header / Search area *@
    <div class="d-flex justify-content-between">
        <h3>Assets</h3>
        <div class="d-flex input-group w-auto">
            <input class="form-control w-auto" type="search" placeholder="Search..." @bind=searchQuery>Search...</input>
            <button @onclick="HandleSubmit" class="btn btn-submit bg-dark text-white">Submit</button>
        </div>
    </div>

    @* Body / Resulting assets *@


    @* Page information *@

</div>



@code {
    private bool loading = false;
    private string? error;
    private String searchQuery = String.Empty;
    private int pageSize = 10;
    private int pageNumber = 1;
    private PagedResponse<AssetDto>? assets;

    /// <summary>
    /// On first load, fetches the first ten assets
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        await HandleSubmit();
    }

    private async Task HandleSubmit() {
        try
        {
            loading = true;

            // Get the assets from the paginated endpoint
            assets = await APIClient.GetFromJsonAsync<PagedResponse<AssetDto>>(
                $"assets?pageSize={pageSize}&pageNumber={pageNumber}&searchQuery={Uri.EscapeDataString(searchQuery)}"
            );
        }
        catch (HttpRequestException e)
        {
            error = e.Message;
        }
        finally
        {
            loading = false;
        }
    }
}