@page "/assets"
@using Client.Layout
@using Shared.Dtos
@layout MainLayout
@inject HttpClient APIClient

<div class="container-fluid d-flex flex-column">

    @* Header / Search area *@
    <div class="d-flex justify-content-between">
        <h3>Assets</h3>
        <div class="d-flex input-group w-auto">
            <InputText class="form-control w-auto" type="search" placeholder="Search..." @bind-Value=searchQuery>Search...</InputText>
            <button @onclick="HandleSubmit" class="btn btn-submit bg-dark text-white">Submit</button>
        </div>
    </div>

    @* Body / Resulting assets *@


    @* Page information *@

</div>



@code {
    private bool loading = false;
    private string? error;
    private String? searchQuery;
    private int pageSize = 10;
    private int pageNumber = 1;
    private PagedResponse<AssetDto>? assets;

    private async void HandleSubmit() {
        try
        {
            loading = true;

            // Get the assets from the paginated endpoint
            assets = await APIClient.GetFromJsonAsync<PagedResponse<AssetDto>>(
                $"assets?pageSize={pageSize}&pageNumber={pageNumber}&searchQuery={searchQuery}"
            );
            loading = false;
        }
        catch (HttpRequestException e)
        {
            error = e.Message;
        }
    }
}