@page "/register"
@using System.ComponentModel.DataAnnotations
@inject HttpClient APIClient
@inject NavigationManager Navigation

<div class="container-fluid text-white vh-100 d-flex justify-content-center align-items-center" style="background-color: rgba(13, 15, 19, 0.96);">

    <button type="button" class="btn btn-outline-light position-absolute top-0 start-0 m-4" @onclick="NavigateBack">
        &larr; Back
    </button>

    <div class="d-flex justify-content-center align-items-center ">
        <div class="pe-5">
            <h3 class="pb-4">Register</h3>

            @if (isLoading)
            {
                <div class="d-flex justify-content-center my-4">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }

            <div>
                <EditForm Model="@registerModel" OnValidSubmit="HandleRegister">
                    <DataAnnotationsValidator />

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger">@errorMessage</div>
                    }

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <InputText id="email" class="form-control" @bind-Value="registerModel.email"></InputText>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <InputText type="password" id="password" class="form-control" @bind-Value="registerModel.password"></InputText>
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </EditForm>
            </div>
        </div>

        <img class="d-block mx-auto mb-4" src="icon.svg" alt="VulnTracker Logo" width="200" height="200">
    </div>
</div>

@code {
    private string? errorMessage;
    private bool isLoading;
    private RegisterRequest registerModel = new RegisterRequest();

    private async Task HandleRegister()
    {
        try {
            isLoading = true;
            errorMessage = null;

            var response = await APIClient.PostAsJsonAsync("register", registerModel);

            if (response.IsSuccessStatusCode)
            {
                // On Success redirect to login to log in
                Navigation.NavigateTo("/login");
            } 
            else 
            {
                errorMessage = "Invalid register attempt. Ensure passwords have one non-alphanumeric and one uppercase character.";
            }
            isLoading = false;

        } catch (Exception error) {
            isLoading = false;
            errorMessage = error.Message;
        }
    }

    private void NavigateBack()
    {
        Navigation.NavigateTo("/");
    }

    private class RegisterRequest
    {
        [Required]
        [EmailAddress]
        public String email {get; set;} = String.Empty;
        [Required]
        public String password { get; set; } = String.Empty;
    }


}